[Desktop Entry]
Type=Application
Name=Manimate
GenericName=Manim Editor
Comment=Design Manim scenes on a canvas and a timeline
Exec=Manimate %f
Icon=app.manimate.editor
Terminal=false
Categories=Graphics;AudioVideo;Video;
MimeType=application/x-manimate-project;
StartupWMClass=Manimate
